.wd-relative {
    position: relative;
    bottom: 50px;
    left: 50px;
}

.wd-relative-top {
    position: relative;
    bottom: 25px;
}

.wd-30{
    width: 30px;
}

.font-color-black {
    color : black;
}

.wd-font-13 {
    font-size: 13px;
}

.wd-font-15 {
    font-size: 15px;
}

.wd-color-white {
    color: white;
}

.wd-bg-color-black {
    background: black;
}