.wd-title {
    color: white;
    font-size: 20px;
    margin: 0px;
}
.wd-handle {
    color: lightgray;
    font-size: 13px;
    margin: 0px;
}
.wd-padding-left{
    padding-left: 16px;
}

.wd-circular-squareP{
    border-radius:50%;
}

.wd-font-15{
    font-size: 15px;
}

.wd-margin-left-12{
    margin-left: 12px;
}

.wd-margin-bottom-12{
    margin-bottom: 12px;
}

.wd-padding-left-12 {
    padding-left: 12px;
}

