.wd-title {
    color: white;
    font-size: 20px;
}
.wd-handle {
    color: lightgray;
    font-size: 13px;
}
.wd-padding-left{
    padding-left: 16px;
}

.wd-circular-squareP{
    width: 48px;
    border-radius:50%;
}

.wd-font-15{
    font-size: 15px;
}

.wd-margin-left-12{
    margin-left: 12px;
}

.wd-margin-bottom-12{
    margin-bottom: 12px;
}

.wd-padding-left-12 {
    padding-left: 12px;
}

.wd-grid-row {
    clear: both;
    overflow:hidden;
}


.wd-grid-col-left{
    width: 5%;
    float: left;
}

.wd-grid-col-right{
    width: 92%;
    float: left;
}

.wd-flex-container {
    display: flex;
}

.wd-flex-box-1 {
    margin-left: 16px;
    margin-top: 12px;
}

.wd-flex-box-2{
    width: 506px;
    margin-left: 12px;
    margin-top: 12px;
    margin-right: 16px;
}

.wd-dimension-pic {
    width: 504px;
    height: 264px;
}

.wd-rounded-corners-10 {
    border-radius: 10px;
}

.wd-rounded-top-corners-10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wd-display-block {
    display: block;
}

.wd-flex-container-space-around {
    display: flex;
    justify-content: space-between;
}

