
.btn-dimension{
    width: 100%;
}

.wd-color-blue{
    color: rgb(29, 155, 240);
}

.wd-bg-color-blue{
    background: rgb(29, 155, 240);
}

.wd-color-orange{
    color: orange;
}

.wd-color-gray{
    color: gray;
}

.wd-bg-color-gray{
    background: lightgray;
}
.wd-bg-color-searchbar {
    background: #ececec;
}
.wd-margin-left-override {
    margin-left: 5px;
}

.wd-margin-top-override {
    margin-top: 10px;
}

.wd-margin-top-override-20 {
    margin-top: 20px;
}

.wd-margin-bottom-override {
    margin-bottom: 10px;
}

.wd-margin-top-override-3 {
    margin-top: 3px;
}

.wd-font-22 {
    font-size: 22px;
}

.wd-font-15 {
    font-size: 15px;
}

.wd-font-13 {
    font-size: 13px;
}

.wd-margin-left-override {
    margin-left: 10px;
}

.wd-padding-left-override-5 {
    padding-left: 5px;
}

.wd-dimension-searchbar {
    height: 45px;
}

.wd-dimension-cog {
    height: 25px;
}

.tab-color-gray{
    color: gray;
}

.tab-color-black{
    color: black;
}

.wd-highlight {
    border-bottom-color: rgb(29, 155, 240);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.wd-margin-left-10 {
    margin-left: 10px;
}

.btn-black {
    background-color: black;
}

.wd-margin-top-15 {
    margin-top: 15px;
}

.wd-margin-bottom-15 {
    margin-bottom: 15px;
}
.wd-a-non-decoration {
    text-decoration:none;
}

.wd-border{
    border-width: 0px;
    border-color: #ececec;
}

.wd-rounded-corners-all-around {
    border-radius: 20px;
}

.wd-color-darkgray {
    color: gray;
}
